<h1> Log Activity </h1>

<%= form_for([@activity, @activity.logs.build]) do |f| %>

  <p>
    <%= f.label :description %> <br>
    <%= f.text_field(:description, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :date %> <br>
    <%= f.date_field(:day, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :duration %> <br>
    <%= f.text_field(:duration, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>

<% end %>